
.Navigation { 
  display: flex;
  flex-direction: row;
  background-color: #E7CFBC;
}

.Title {
  text-align: start;
}

.Wikipedia-logo {
  height: 15vmin;
  margin-top: 10px;
  justify-content: center;
}

.Mode-button {
  justify-content: end;
}

.Main-container {
  background-color: #FFF4EC;
  display: flex;
  flex-direction: row;
}

.Facts-list {
  background-color: #fbf8f6;

}

.Tag-map { 
  height: 20vmin;  
}

