.Form-submit {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: #e02877;
  color: white;
  margin-left: auto;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  align-self: center;
  padding:20px; 
}

.Form-submit:hover {
  background-color:#d2dce7;
  color: black;
}

.Heading-text {  
  font-size: 20px;
  padding: 25px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.Day-label {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 25px;
  
}

.Month-label {
  font-family: 'Roboto', sans-serif;
  padding: 25px;
  color: white;
}
.Month-input, .Day-input {
  background-color:#004962;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  border-radius: 5px;
}

