.Form-submit {
  font-family: "Great Vibes", cursive;
  font-size: 20px;
}

.Heading-text {
  /* font-family: "Great Vibes",; */  
  font-size: 30px;
  padding: 25px;
}

.Day-label {
  font-family: "Great Vibes", cursive;
  padding: 25px;
  margin-right:
}

.Month-label {
  font-family: "Great Vibes", cursive;
  padding: 25px;
}
