.Wikipedia-logo {
  height: 10vh;
}

.Main-container {
  background-color: #ffffff;
  display: flex;
}

.Facts-list {
  flex: 3;
  padding-top: 5px;
  padding-left: 20px;
}

.TagCloud {
  margin-left: 50px;
  margin-right: 30px;
  text-align: center;
  box-shadow: 0 0 15px 2px #3333;
  border-radius: 4px;
  padding: 25px;
  cursor: pointer;
}

.Heading-text-TagCloud {
  color: #e02877;
  margin-left: 50px;
  margin-top: 50px;
}

.pinkText {
  color: #e02877;
}

.Left-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Nav-link,
.Nav-link:hover {
  color: white;
}
